---
title: kyk Portfolio
layout: portfolio
---

<ul id="tag-list">
  <li class="active" data-filter="">All</li>
<% data.portfolio.map { |i| i.tag }.flatten.uniq.sort.each do |tag|  %>
  <li data-filter=".<%= tag %>"><%= tag %></li>
<% end %>
</ul>

<ul id="item-list">
<% data.portfolio.each do |item| %>
  <li class="item <%= item.tag.join(' ') %>">
    <a  href="<%= "portfolio/#{item.url}" %>">
      <img src="<%= lorem.image('200x200') %>">
      <div class="description">
        <p class="link"><%= link_to item.name, "portfolio/#{item.url}" %></p>
        <p class="desc"><%= item.desc || "" %></p>
      </div>
    </a>
  </li>
<% end %>
</ul>

